h1 {
    padding-top: 30px;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
}
h2 {
    letter-spacing: 0.5px;
}
h3 {
    position: absolute;
    right: 50px;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: right;
    color: gray;
}
h4 {
    margin: auto;
}
a {
    color: teal;
}
a,
a:hover,
a:visited {
    text-decoration: none;
    color: teal;
}
.hidden {
    display: none;
    color: darkgray;
}
#content {
    color: darkgray;
    padding: 250px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Wire One', sans-serif;
    /*    text-align: justify;*/
}
#intro {
    color: teal;
}
#imp {
    color: teal;
}
#e {
    /*    font-weight: lighter;*/
    color: darkblue;
}
#t {
    color: deeppink;
}

#i {
    color: purple;
}
#r {
    color: green;
}
#smallMenu {
    display: none;
}

@media (max-width: 900px) {
    #content {
        font-size: 12px;
        padding: 50px;
    }
    #menu {
        display: none;
    }

    #smallMenu {
        display: inline;
        position:static;
        text-align: center;
        margin: auto;
        padding: 3px;
    }
    h3 {
        position: static;
        text-align: center;
    }
    h1 {
        padding: 0px;
        margin: 0px;
    }

}

@media (max-width: 600px) {
    #content {

        padding: 10px;
    }

}

