body {
    background-color: white;
}

h1 {
    color: #3B3939;
    text-align: left; 
    font-size: 20px; 
    text-align: right; 
    font-family: 'Khula', sans-serif;
}


p {
    color: #3B3939; 
    text-align: center; 
    padding-top: 100px; 
    padding-right: 350px; 
    width: 300px; 
    float: right; 
    font-family: 'Khula', sans-serif;
}

img {
    border-radius: 50%; 
}

.image{
    padding-left: 350px; 
    float: left; 

}

/*Links-No underline except on hover*/
a {
    color: #3B3939;  
    font-size: 20px; 
    text-decoration: none; 
    padding: 10px; 
    padding-bottom: 0px;
}
a:hover {
    border-style: none none solid none;
    border-width: 1px; 
    border-color: #E092AD;
}
a:active {
    text-decoration: none;
}


