body {
    background-color: white;
}

h1 {
    color: #3B3939; 
    font-size: 20px; 
}

p {
    color: #3B3939;  
    padding-top: 10px; 
}

img {
    border-radius: 50%; 
}
.image {
    padding: 4px; 
}

.col-sm-3, .col-sm-5 {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right: 4px;
    margin-top: 4px; 
}


/*Links-No underline except on hover*/
a {
    color: #3B3939;  
    font-size: 20px; 
    text-decoration: none; 
}
a:hover {
    border-style: none none solid none;
    border-width: 1px; 
    border-color: #E092AD;
}
a:active {
    text-decoration: none;
}


